/* CSS declarations go here */

@media (min-width: 1200px) {
	.container {
		width: auto!important;
	}
}

body {
	text-align: center;
}

h1 {
	margin-bottom: 1em;
}

.action-label {
	display: inline-block;
}
.action-input {
	display: inline-block;
}

.action-wrapper {
	margin-bottom: 2em;
}

form[data-type="radio"] .action-label,
form[data-type="radio"] .action-input {
	width: 5em;
}



.tile[data-answered="true"]{
	background-color: #27AE60;
}

.tile[data-rejected="true"]{
	background-color: #F39C12;
}

.corner {
	text-align: left;
	font-size: 0.8em;
	color: gray;
}

.container.tester h1{ 
	height: 2em;
}

table.answers {
	font-size: 0.5em;
}
table.answers th {
	vertical-align: baseline;
	line-height: 0.9;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
table.answers tbody tr:nth-child(2n) {
	background-color: #CCCCCC;
	opacity: 0.8;
}

table.answers td {
	text-transform: capitalize;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

td.answer {
	background-color: #464646;
}

td.answer[data-option-idx="0"] {
	background-color: #9facff;
}

td.answer[data-option-idx="1"] {
	background-color: #a5ff9f;
}

td.answer[data-option-idx="2"] {
	background-color: #fff19f;
}

td.answer[data-option-idx="3"] {
	background-color: #ff9f9f;
}
