/* CSS declarations go here */


body {
	text-align: center;
}

h1 {
	margin-bottom: 1em;
}

.action-label {
	display: inline-block;
}
.action-input {
	display: inline-block;
}

.action-wrapper {
	margin-bottom: 2em;
}

form[data-type="radio"] .action-label,
form[data-type="radio"] .action-input {
	width: 5em;
}



.tile[data-answered="true"]{
	background-color: #27AE60;
}

.tile[data-rejected="true"]{
	background-color: #F39C12;
}

.corner {
	text-align: left;
	font-size: 0.8em;
	color: gray;
}

.container.tester h1{ 
	height: 2em;
}